  <appSettings>
    <!--Authorisation server generating JWT token-->
    <add key="issuer" value="http://localhost:55146"/>
    <!--consummer client_id of the secured API Ressource server-->
    <add key="as:client_id" value="ngAuthApp"/>
    <!--consummer client_secret of the secured API Ressource server-->
    <add key="as:client_secret" value="5YV7M1r981yoGhELyB84aC+KiYksxZf1OY3++C1CtRM="/>
  </appSettings>
